@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0077b6;
}

label{
    font-size: 14px;
}

.container{
    background-color: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px;
    width: 80vmin;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(2, 42, 83, 0.2);
}

.result{
    padding: 20px 0 120px;
}

#preview{
    background-color: #0077b6;
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    border-radius: 70px;
    box-shadow: -6px 15px 30px 6px rgba(0, 0, 0, 0.5);
}

.settings{
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 15px 25px;
}

.range_wrapper, #color_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="range"]{
    width: 100%;
    cursor: pointer;
}

input[type="checkbox"]{
    cursor: pointer;
}

.code_container{
    display: grid;
    grid-template-columns: 6fr 2fr;
    gap: 10px;
    margin-top: 20px;
}

.code_container button{
    background-color: #0077b6;
    color: #fff;
    cursor: pointer;
    border-radius: 5px; 
    border: none;
}

.code_container textarea{
    resize: none;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}

.input_wrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

#color_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

input[type="color"]{
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    cursor: pointer;
}